.header-h1{
  color: antiquewhite;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  text-transform: uppercase;
  /* border-style: solid; */
  margin:auto;
  /* border-radius: 15px; */
  

}

.container-banner{
  display: flex;
  background-color: #f1f1f1;
  align-items: center;
  text-align: start;
  border-style: hidden;
  border-radius: 15px;
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 40px;
  padding:30px;
}

.container-banner h1{
  width:180px;
  border-style: hidden;
  border-radius: 15px;
  margin-left:30px;
}

#profilepic{
  border-radius: 85px;
  padding-top: 7px;
}

.container-about{
  border-radius: 15px;
  border-style: hidden;
}


.cards{
  margin:40px;
  padding:30px;
  background-color: rgb(190, 190, 190);
  border-radius: 15px;
  border-style: hidden;
  
}
.cards p{
  font-size: 20px;
}

.container{
  display: flex;
  margin: 30px;
  justify-content: flex-start; 
  flex-wrap: wrap;
}

.container a{
  padding-right: 80px;
  text-decoration: none;
}

.container p{
  
  color: black;
}

.container img{
  border-radius: 20px;

}
.container a:hover
{
transform: scale(1.1);
}
span:hover{
  text-decoration: none;
}

    