ul, li {
    margin: 0;
    list-style: none;
}

.navigation {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 66px;
    z-index: 19;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 48px;
    transition: 0.8s;
}

.navigation:hover {
    background-color: rgba(162, 162, 162, 0.7);
}

.navigation .navLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation .logo {
    margin-right: 48px;
    margin-bottom: 0;
}

.navigation ul {
    float: right;
    display: flex;
    flex-direction: row;
}

.navigation li {
    margin: 0 8px;
}