.container {
  width: 100%;
  margin: 120px auto;
  text-align: center;
}

.container .infoWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container label, .container p span {
  margin-right: 8px;
}

.container input {
  outline: none;
  border: 1px solid gray;
}

input[type="radio"] {
  margin: 0 8px;
}