.chatContainer {
  width: 80%;
  border: 1px solid gray;
}

.headerWrap {
  padding: 12px 18px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #d9d9d9;
}

.headerWrap img {
  border-radius: 50%;
  width: 32px;
  margin-right: 8px;
}

.messageContainer {
  display: flex;
  margin-bottom: 3px;
  padding: 4px 16px 8px;
  margin-top: 8px;
}

.messageContainer p {
  margin-bottom: 0;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.userInfo .userName {
  margin: 0 0 4px 4px;
  font-weight: bold;
}

.message {
  border: 1px solid #ECECEC;
  border-radius: 15px;
  padding: 8px 12px;
}