.contentWrap {
    margin: auto;
    text-align: center;
}

.logoImage {
    display: block;
    margin: auto;
}

.inputTitle {

}

.inputWrap {

}

.input {

}

.errorMessageWrap {

}

.bottomButton {
    display: block;
    margin: auto;
}